.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  z-index: -1;
}

.inputfile + label {
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: white;
  background-color: #06A66A;
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: 146px;
  padding: 8px 0px;
  padding-left: 5px;
  padding-right: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  outline:none;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: #068a58;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.inputfile + label {
  cursor: pointer; /* "hand" cursor */
}
